.body {
    background-color: #1e2425;
    padding-left: 7%;
    padding-right: 7%;
}


.logo {
    padding-left: 20px;
    padding-top: 10px;
    width: 60px;
    height: 60px;

}

.header{

margin-bottom: 10px;


}


.navbar {

    display: flex;
    align-items: flex-start;
    background-color: #37465b;

}


.navlista {
    margin-top: 0%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.textolista {
    padding: 30px;
    padding-left: 190px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.linkhome {


    text-decoration: none;


}


.cajapadre {

    background-color: #37465b;
    height: 410px;
    width: 100%;
}

.textobanner {

    position: absolute;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

    font-size: 30px;
    top: 40%;
    left: 12%;
}

.banner {

    position: relative;

    padding-left: 20px;
    padding-top: 5px;
    width: 1230px;
    height: 402.5px;


}



.valoradas {

    background-color: #37465b;
    width: 100%;
    height: 500px;


}


.p-masvistas {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 15px;
}

.contenedor {
    display: flex;
    height: 500px;
    background-color: #37465b;
    
}




.caja {
    padding-top: 0px;
    flex: 1;
    padding-bottom: 80px;
    height: 428px;
    background-color: #1e2425;
    margin: 5px;
    padding: 10px 10px;

}




.pulp {


    height: 430px;
    width: 100%;
    

}

.titulopeli {

    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    font-weight: 800;
    text-decoration: none;
}


.pdepaginalista {
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 0px;
    padding-top: 3%;
}

.footer {

    margin-top: 10px;
    background-color: #37465b;
    height: 100px;

}

.nombrespdp {

    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.p-masvistas {
    color: white;
    background-color: #37465b;
    margin-bottom: 0px;

}

.main{

margin-top: 10px;

}

.main2 {
   margin-top: 10px;
    background-color: #37465b;
    height: 830px ;
    width: 100%;
}


.detallestarwars {
   
    width: 300px;
    height: 400px;
    position: relative;
    top: -450px;
    left: 10%;
    border: 5px solid #ffff;
   
}

.imagendefondo {
    position: relative;
    height: 500px;
  width: 95%;
 top: 20px;
 left: 30px;
 border: 5px solid #1e2425;
}


.titulo_ {

position: relative;
top: -870px;
left: 40%;
color: white;
font-family: Arial, Helvetica, sans-serif;}

.titulopeliculadetalle {
    position: relative;
    top: -780px;
left: 40%;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: 800;
font-size: 30px;


}


.textosdetalle{



    
}

.sinopsis{
margin-bottom: 10px;
position: relative;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: 400;
font-size: 14px;
top: -430px;
left: 30px;

}

.fechaestreno{


    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    top: -600px;
    left: 85%;
    
}


.valoracion {
    margin-top: 80px   ;
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 12px;
    top: -680px;
    left: 30px;

}

.genero{



    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 12px;
    top: -680px;
    left: 30px;


}

.cienciaficcion{

background-color: #1e2425;
color: #ffff;
text-decoration: none;
border-radius: 12%;
border: #1e2425 solid 5px;

}

.favoritos{

    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    top: -500px;
    left: 1000px;
    list-style: none;
    
}

.seccionbanner{
margin-top: 10px;
background-color: #37465b;
width: 100%;
height: 100%;
margin-bottom: 10px;



}

.bannergeneros{


position: relative;    
margin-top: 20px;
border: #1e2425 solid 5px;
width: 95%;
margin-left: 30px;
margin-right: 30px;
margin-bottom: 20px;
}

.textobannergeneros{

position: absolute;
font-family: Arial, Helvetica, sans-serif;
top: 55%;
left: 15%;
color: #ffff;
font-size: 40px
;
}

.listas-contenedor{

display: flex;
justify-content: center;
background-color: #37465b;
width: 100%;
height: 300px;

}


.lista{
padding-top: 20px;
list-style: none;


}

.lista3{

    padding-top: 20px;
    list-style: none;
margin-right: 40px;
}

.itemgeneros{
background-color: #1e2425;
margin: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
padding-right: 100px;
color: white;
padding-left: 100px;
border-radius: 5px;
font-weight: 600;
}



.botonbuscar{


background-color: #1e2425;
color: #ffff;

}

.sectionheader2{

padding-top: 30px;
padding-left: 200px;

}
.submitboton{

background-color:#1e2425;
color: #ffff;

}


.maindetallesgeneros{


background-color: #37465b;
width: 100%;
height: 500px;

}